body {
  font-family: sans-serif;
  background: #f1f1f1;
}

.container {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 30px;
  margin-top: 80px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
